body, ul, li, a  {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 0;
}

.submenu {
    height: 60px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-around;

}
.submenu img {
    width: 185px;
    margin-top: 10px;
}

.busca input {
    width: 590px ;
    height: 25px;
    margin-top: 15px;
    padding-left: 5px;
    font-size: 16px;
    color: grey;

}

#button-busca {
    width: 55px;
    height: 31px;
    background-color: #4585F3;
    border: #4585F3 1px solid ;
    border-radius:0 3px 3px 0;
    color: #ffffff;
    margin: -5px;
}

#login {
    width: 130px;
    height: 30px;
    background-color: #4585F3;
    color: #ffffff;
    font-weight: bold;
    border: #4585F3 1px solid;
    border-radius: 2px;
    margin-top: 15px;

}
/*NAV - MENU FIXO*/
.menu-fixo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.b-apps {
    background-color: #689F38;
    border: #689F38 1px solid;
    width: 200px;
    height: 48px;
    padding-top: 5px;
    margin-right: 20px;
}

.category {  
    background-color: #ffffff;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    opacity: 0.8;
    height: 50px;
}
.category i {
    font-size: 12px;
}
.category:hover {
    background-color: #f1f1f1;
}

.sub-category, .em-alta, .lancamento {
    background-color: #ffffff;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    opacity: 0.8;
    height: 50px;
}

.sub-category:hover, .conta:hover, .em-alta:hover, .lancamento:hover {
    background-color: #f1f1f1;
}

.conta {
    background-color: #ffffff;
    border-bottom: #689F38 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    font-weight: bolder;
    height: 50px;

}

.b-help {
  width: 35px;
  height: 30px;
  font-size: 16px;
  border: 1px solid #D4D4D4;
  background-color: #ffffff;
  border-radius: 5px;
  align-self: center;
  margin-left: 520px;
}
.b-settings {
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #D4D4D4;
    background-color: #ffffff;
    border-radius: 5px;
    align-self: center;
    margin-left: 20px;
}

/*FIM NAV*/

/*Aside*/

.acesso-rapido {
    width: 180px;
    height: 210px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}


.b-meusapps {
    width: 90%;
    height: 35px;
    border: none;
    opacity: 0.8;
    background-color: #F5F5F5;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    text-align: left;
}

.b-meusapps:hover {
    background-color: #E8E8E8;
}

.b-comprar {
    background-color: #F5F5F5;
    border: none;
    width: 90%;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #689F38;
    font-weight: bolder;
    float: right;
    text-align: left;
    margin-bottom: 10px;

}

.b-comprar:hover {
    background-color: #E8E8E8;
}

.hr{
    opacity: 0.5;
    width: 130px;
}

.b-jogos, .b-familia {
    background-color: #F5F5F5;
    border: none;
    width: 90%;
    height: 30px;
    font-size: 14px;
    float: right;
    text-align: left;
}

.b-editores {
    margin-bottom: 30px;
    background-color: #F5F5F5;
    border: none;
    width: 90%;
    height: 30px;
    font-size: 14px;
    float: right;
    text-align: left;
}

.b-jogos:hover, .b-familia:hover, .b-editores:hover, .menu-conta li:hover {
    background-color: #E8E8E8;
    color: #000000;
}

.more {
    height: 210px;
    border: none;
    background-color: #ffffff;
    align-content: center;
}
.sidebar {
    max-width: 200px ;
    display: flex
}

.menu-conta  {
    border-top: 1px solid #D4D4D4;
    font-size: 14px;
    text-align: left;
    max-width: 183px;
    max-height: 300px;
    background-color: #F5F5F5;
    padding-left: 15px;
}

.menu-conta li {
    list-style-type: none;
    display: block;
    text-decoration: none;
    padding: 5px;
}

.hero {
    border: 1px solid red;
}